{% extends "base.html" %}
{% load i18n %}
{% comment %}
**registration/activation_complete.html**

Used after successful account activation. This template has no context
variables of its own, and should simply inform the user that their
account is now active.
{% endcomment %}
{% block title %}{% trans "Registration" %} - {{ current_site.name }}{% endblock %}
{% block content %}
<div class="span12">
	<h1 class="page-header">{% trans "Registration" %}</h1>
	<div class="alert alert-success">
		<p>{% trans "Your account is now activated. You can take full advantage of our site features" %}</p>
	</div>
{% endblock %}
</div>