{% extends "base.html" %}
{% load i18n %}
{% comment %}
**registration/registration_complete.html**

Used after successful completion of the registration form. This
template has no context variables of its own, and should simply inform
the user that an email containing account-activation information has
been sent.
{% endcomment %}
{% block title %}{% trans "Registration" %} - {{ current_site.name }}{% endblock %}
{% block content %}
<div class="span12">
	<h1 class="page-header">{% trans "Registration" %}</h1>
	<div class="alert alert-success">
		<p>{% trans "Your registration is finished" %}</p>
	</div>
	<p>{% trans "You will receive an email to activate your account" %}</p>
</div>
{% endblock %}