{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}{% trans "My Trigger" %} - {{ user.username }} - Trigger Happy{% endblock %}
{% block content %}
    <div class="col-md-12" id="trigger-content">
        <h3><span class="glyphicon glyphicon-edit"></span> {% trans 'Edition of your trigger' %} {{ context.description }}</h3>
        <form method="post" class="form-horizontal" action="">
        {{ form.non_field_errors }}
        <fieldset>
        <legend>{{ context.description }}</legend>
        {% csrf_token %}
            <div class="form-group{% if form.subreddit.errors %} has-error{% endif %}">
                {% if form.subreddit.errors %}
                <div class="col-sm-offset-1 col-sm-10 alert alert-danger" role="alert">{{ form.subreddit.errors }}</div>
                {% endif %}
                <label for="id_subreddit" class="col-sm-2 control-label">{% trans "Subreddit" %}</label>
                <div class="col-sm-10">{{ form.subreddit }}</div>
                <div class="col-sm-offset-1 col-sm-10">in which subreddit to create a post or share a link ? (name without '/r/')</div>
            </div>
            <div class="form-group{% if form.share_link.errors %} has-error{% endif %}">
                {% if form.share_link.errors %}
                <div class="col-sm-offset-1 col-sm-10 alert alert-danger" role="alert">{{ form.share_link.errors }}</div>
                {% endif %}
                <label for="id_share_link" class="col-sm-2 control-label">{% trans "Share a link ?" %}</label>
                <div class="col-sm-10">{{ form.share_link }}</div>
                <div class="col-sm-offset-1 col-sm-10">Do you just want ot share link ? if no a post is created</div>
            </div>

            <div class="form-group form-actions">
                <div class="col-sm-offset-2 col-sm-4">
                    <button class="btn btn-primary">{% trans "Save it" %}</button>
                </div>
            </div>
        </fieldset>
        </form>
    </div>
{% endblock %}
