[report]
exclude_lines =
    pragma: no cover
    raise ImportError
    except AttributeError

[run]
omit =
    */migrations/*
    setup.py
    django_th/th_tox
    django_th/wsgi.py
    django_th/th_settings_sample.py
    django_th/local_settings_sample.py
    django_th/management/commands/read.py
    django_th/management/commands/publish.py
    django_th/management/commands/recycle.py
    django_th/management/commands/read_n_pub.py
    */from_*.py


build:
    tests:
        override:
            -
                command: 'coverage run --source='.' manage.py test'
                coverage:
                    file: '.coverage'
                    config_file: '.coveragerc'
                    format: 'py-cc'
