*.log
*.pot
*.pyc
local_settings.py
run.sh
*.sqlite3*
*.log*
.idea
django_th/cache/rss/
dist
.coverage
django_th.egg-info/
*sublim*
*.tar.gz
*.json
!django_th/fixtures/*
admin
.tox
build
th_tox
django_th/.env
docs/_build
