[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
[packages]

arrow = "==0.10.0"
awesome-slugify = "==1.6.5"
djangorestframework = "==3.7.3"
Django = "==1.11.7"
django-environ = "==0.4.4"
django-formtools = "==2.1"
django-js-reverse = "==0.7.3"
django-redis = "==4.8.0"
evernote3 = "==1.25.12"
feedparser = "==5.2.1"
"github3.py" = "==1.0.0a4"
instapush = "==0.1.2"
"Mastodon.py" = "==1.1.1"
pocket = "==0.3.6"
praw = "==5.2.0"
"pushbullet.py" = "==0.11.0"
py-trello = "==0.9.0"
pypandoc = "==1.4"
python-taiga = "==0.8.6"
pytidylib = "==0.3.2"
PyTumblr = "==0.0.7"
pytz = "==2017.3"
requests-oauthlib = "==0.8.0"
todoist-python = "==7.0.17"
twython = "==3.6.0"
wallabag_api = "==1.1.0"


