Django<1.9a
django-formtools==1.0
arrow<0.7.0
django-js-reverse==0.6.1
django-rq==0.9.0
django-redis==4.3.0
pytidylib6==0.2.2
pypandoc==1.1.3
requests-oauthlib==0.5.0
github3.py==1.0.0a2
pocket==0.3.6
readability-api==1.0.2
feedparser==5.2.1
django-haystack==2.4.1
py-trello==0.4.3
twython==3.3.0
awesome-slugify==1.6.5
