awesome-slugify==1.6.5
arrow==0.10.0
djangorestframework==3.6.4
Django==1.11.5
django-environ==0.4.4
django-formtools==2.0
django-js-reverse==0.7.3
django-redis==4.8.0
evernote3==1.25.12
feedparser==5.2.1
github3.py==1.0.0a4
pocket==0.3.6
py-trello==0.9.0
pytz==2017.2
pytidylib==0.3.2
pypandoc==1.4
requests-oauthlib==0.8.0
twython==3.6.0
wallabag_api==1.1.0
flake8==3.3.0
todoist-python==7.0.17
pushbullet.py==0.10.0
instapush==0.1.2
python-taiga==0.8.6
Mastodon.py==1.1.1
praw==5.1.0
-e git://github.com/dianakhuang/pytumblr.git@diana/python-3-support#egg=pytumblr