Django>=1.8
django-formtools==1.0
arrow==0.5.4
django-js-reverse==0.5.1
celery==3.1.18
django-redis==4.2.0
django-redisboard==1.2.1
pytidylib6==0.2.2
pocket==0.3.5
readability-api==1.0.0
feedparser==5.1.3
django-haystack==2.4.0
py-trello==0.4.3
pypandoc==1.0.5
twython==3.2.0
github3.py==1.0.0a2