body {
	padding-top: 60px;
	padding-bottom: 40px;
}

h1 {
	background-image: url('/static/images/glyphicons_061_keynote.png');
	background-repeat: no-repeat;
	background-position:left bottom;
	text-indent: 30px;
	height: 30px;
}

/****
 * shared propery : trigger-record-* & profile-*
 */

.trigger-record, .profile-identity, .profile-stats, .service-record, .wizard-fieldset  {
    background-color: white;
    border-radius: 5px 5px 5px 5px;
    color: #6B6B6B;
    font-size: 1.1em;
    margin: 0.2em;
    padding: 1em;
}

.trigger-enable, .service-record {
    border: 1px solid #DDDDDD;
}

.trigger-disable {
    border: 1px solid #FF06C1;
}

.trigger-enable:hover, .service-record:hover {
    border: 2px solid #600;
}

.trigger-disable:hover {
    border: 2px solid #600;
}


.trigger-record-user, .profile-identity-head {
	background-image: url('/static/images/glyphicons_003_user.png');
}

.trigger-record-user {
	text-indent: 25px;
	background-repeat: no-repeat;	
} 

/****
 * History
 */

.trigger-record footer {
	font-size: small;
    vertical-align: text-bottom;
}

.trigger-record .trigger-text {
    word-wrap: break-word;
}

.charWarning {
    color:#600;
}

.charExceeded {
    color:#e00;
}

#histo_text {
	width: 90%;
}

/****
 * Profile
 */
.profile-head {
	background-position:left bottom;
	background-repeat: no-repeat;	
	text-indent: 30px;
	height: 30px;
}

.profile-stats-head {
	background-image: url('/static/images/glyphicons_040_stats.png');
}

/****
 * icon services
 */
.icon-evernote {
    background-image: url('/static/images/glyphicons_371_evernote.png');
    width: 30px;
    height: 30px;
    line-height: 30px;
    background-position: 0px 0px;
}

.icon-twitter {
    background-image: url('/static/images/glyphicons_392_twitter.png');
}

.icon-rss {
    background-image: url('/static/images/glyphicons_397_rss.png');
    width: 30px;
    height: 30px;
    line-height: 30px;
    background-position: 0px 0px;    
}

.icon-from-to {
    background-image: url('/static/images/glyphicons_223_thin_right_arrow.png');
    width: 30px;
    height: 30px;
    line-height: 30px;
    background-position: 0px 0px;    
}

/****
 * wizard 
 */
#trigger-content fieldset {
    border-radius: 5px 5px 5px 5px;
    border: 1px solid #DDDDDD;  
    padding: 10px;
}

#trigger-content fieldset:hover {
    border-radius: 5px 5px 5px 5px;
    border: 2px solid #600;
}


/****
 * Menu 
 */

/***
 * put the icon in the "grey" light as they went white on white
 */
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover {
  color: #555555;
  cursor: default;
  background-color: #eeeeee;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}
