body {
	padding-top: 70px;
	padding-bottom: 30px;
}

h1 {
	background-image: url('/static/images/glyphicons_061_keynote.png');
	background-repeat: no-repeat;
	background-position:left bottom;
	text-indent: 30px;
	height: 30px;
}


li { 
    list-style: none;
}


/****
 * shared propery : trigger-record-* & profile-*
 */


.trigger-record, .service-record, .wizard-fieldset, .trigger-summary  {
    background-color: white;
    border-radius: 5px 5px 5px 5px;
    color: #6B6B6B;
    font-size: 1.1em;
    margin: 0.2em;
    padding: 1em;
}

.trigger-enable, .service-record, .trigger-summary {
    border: 1px solid #DDDDDD;
}

.trigger-disable {
    border: 1px solid #FF06C1;
}

.trigger-enable:hover, .service-record:hover {
    border: 2px solid #600;
}

.trigger-disable:hover {
    border: 2px solid #600;
}


.trigger-record-user {
	background-image: url('/static/images/glyphicons_003_user.png');
}

.trigger-record-user {
	text-indent: 25px;
	background-repeat: no-repeat;	
} 

/****
 * History
 */

.trigger-record footer {
	font-size: small;
    vertical-align: text-bottom;
}

.trigger-record .trigger-text {
    word-wrap: break-word;
}

.trigger-summary {
    text-align: right;
}

.charWarning {
    color:#600;
}

.charExceeded {
    color:#e00;
}

#histo_text {
	width: 90%;
}

/****
 * wizard 
 */
#trigger-content fieldset {
    border-radius: 5px 5px 5px 5px;
    border: 1px solid #DDDDDD;  
    padding: 10px;
}

#trigger-content fieldset:hover {
    border-radius: 5px 5px 5px 5px;
    border: 2px solid #600;
}


/****
 * Menu 
 */

/***
 * put the icon in the "grey" light as they went white on white
 */
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover {
  color: #555555;
  cursor: default;
  background-color: #eeeeee;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}

