{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}{% trans "My Trigger" %} - {{ user.username }} - Trigger Happy{% endblock %}
{% block content %}
    <div class="col-md-12" id="trigger-content">
        <h3><span class="glyphicon glyphicon-edit"></span> {% trans 'Edition of the properties for' %} {{ context.description }}</h3>
        <form method="post" class="form-horizontal" action="">
        {{ form.non_field_errors }}
        <fieldset>
        <legend>{{ context.description }}</legend>
        {% csrf_token %}
            <div class="form-group{% if form.tag.errors %} has-error{% endif %}">
                {% if form.tag.errors %}
                <div class="col-sm-offset-1 col-sm-6 alert alert-danger" role="alert">{{ form.tag.errors }}</div>
                {% endif %}
                <label for="id_tag" class="col-sm-2 control-label">{% trans "Tag" %}</label>
                <div class="col-sm-6">{{ form.tag }}</div>
                <div class="col-sm-offset-2 col-sm-6">{% trans "Put the tag you want to add to your tweets" %}</div>
            </div>
            <div class="form-group{% if form.screen.errors %} has-error{% endif %}">
                {% if form.screen.errors %}
                <div class="col-sm-offset-1 col-sm-6 alert alert-danger" role="alert">{{ form.screen.errors }}</div>
                {% endif %}
                <label for="id_tag" class="col-sm-2 control-label">{% trans "Screen" %}</label>                
                <div class="col-sm-6">{{ form.screen }}</div>
                <div class="col-sm-offset-2 col-sm-6">{% trans "Put your name to add tweet to it" %}</div>
            </div>

            <div class="form-group form-actions">
                <div class="col-sm-offset-2 col-sm-4">
                    <button class="btn btn-primary">{% trans "Save it" %}</button>
                </div>
            </div>
        </fieldset>
        </form>
    </div> 
{% endblock %}