{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}{% trans "My Trigger" %} - {{ user.username }} - Trigger Happy{% endblock %}
{% block content %}
    <div class="col-md-12" id="trigger-content">
        <h3><span class="glyphicon glyphicon-edit"></span> {% trans 'Edition of the properties for' %} {{ context.description }}</h3>
        <form method="post" class="form-horizontal" action="">
        {{ form.non_field_errors }}
        <fieldset>
        <legend>{{ context.description }}</legend>
        {% csrf_token %}
            <div class="form-group{% if form.board_name.errors %} has-error{% endif %}">
                {% if form.board_name.errors %}
                <div class="col-sm-offset-1 col-sm-10 alert alert-danger" role="alert">{{ form.board_name.errors }}</div>
                {% endif %}
                <label for="id_board_name" class="col-sm-2 control-label">{% trans "Board Name" %}</label>
                <div class="col-sm-10">{{ form.board_name }}</div>
            </div>
            <div class="form-group{% if form.list_name.errors %} has-error{% endif %}">
                {% if form.list_name.errors %}
                <div class="col-sm-offset-1 col-sm-10 alert alert-danger" role="alert">{{ form.list_name.errors }}</div>
                {% endif %}
                <label for="id_list_name" class="col-sm-2 control-label">{% trans "List Name" %}</label>
                <div class="col-sm-10">{{ form.list_name }}</div>
            </div>

            <div class="form-group form-actions">
                <div class="col-sm-offset-2 col-sm-4">
                    <button class="btn btn-primary">{% trans "Save it" %}</button>
                </div>
            </div>
        </fieldset>
        </form>
    </div>
{% endblock %}
