{% extends "base.html" %}
{% load static %}
{% load url from future %}
{% load i18n %}
{% load django_th_extras %}
{% block title %}{% trans "My Services" %} - {{ user.username }} - {{ current_site.name }}{% endblock %}
{% block content %}
    <div class="span12" id="trigger-content">
        {% if action = 'add_service' %}
        <h3>{% trans 'Creation of a new service' %}</h3>
        {% else %}
        <h3>{% trans 'Edition of your service' %}</h3>
        {% endif %}
        <form method="post" class="form-horizontal" action="">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="control-group">
            <label class="control-label" for="id_my_service">{% trans 'Service' %}</label>
            <div class="controls">
            {{ form.my_services.errors }}
            {{ form.my_services }}
            </div>
        </div>
        <div class="form-actions">
            <input type="hidden" name="next" value="{{ next }}" />
            <input type="hidden" name="my_service_id" value="{{ my_service_id }}" />
            {% if action = 'add_service' %}
            <button class="btn btn-primary">{% trans "Activate it" %}</button>
            {% else %}
            <button class="btn btn-primary">{% trans "Edit it" %}</button>
            {% endif %}
        </div>
        </form>
    </div> 
{% endblock %}
