DJANGO_TH_PAGINATE_BY=5
DJANGO_TH_PUBLISHING_LIMIT=2
DJANGO_TH_PROCESSES=1
DJANGO_TH_FAILED_TRIES=2
DJANGO_TH_FIRE=True
DJANGO_TH_DIGEST_EVENT=False
DJANGO_TH_SHARING_MEDIA=True

TH_EVERNOTE_SANDBOX=False
TH_EVERNOTE_CONSUMER_KEY=
TH_EVERNOTE_CONSUMER_SECRET=

TH_GITHUB_USERNAME=
TH_GITHUB_PASSWORD=
TH_GITHUB_CONSUMER_KEY=
TH_GITHUB_CONSUMER_SECRET=

TH_POCKET_CONSUMER_KEY=

TH_PUSHBULLET_CLIENT_ID=
TH_PUSHBULLET_CLIENT_SECRET=

TH_TODOIST_CLIENT_ID=
TH_TODOIST_CLIENT_SECRET=

TH_TUMBLR_CONSUMER_KEY=
TH_TUMBLR_CONSUMER_SECRET=

TH_TRELLO_CONSUMER_KEY=
TH_TRELLO_CONSUMER_SECRET=

TH_TWITTER_CONSUMER_KEY=
TH_TWITTER_CONSUMER_SECRET=

TH_PELICAN_AUTHOR=
