DEBUG=True
ALLOWED_HOSTS='127.0.0.1'
DB_ENGINE='django.db.backends.sqlite3'
DB_NAME='/trigger_happy.sqlite3'
DB_USER=''
DB_PASSWORD=''
DB_HOST=''
DB_PORT=''

TIME_ZONE='Europe/Paris'
LANGUAGE_CODE='en'
USE_I18N=True
USE_L10N=True
USE_TZ=True

SECRET_KEY=TOBEDEFINED!

DJANGO_TH_PAGINATE_BY=5
DJANGO_TH_PUBLISHING_LIMIT=2
DJANGO_TH_PROCESSES=5
DJANGO_TH_FAILED_TRIES=2
DJANGO_TH_FIRE=True
DJANGO_TH_DIGEST_EVENT=False
DJANGO_TH_SHARING_MEDIA=True

TH_EVERNOTE_SANDBOX=False
TH_EVERNOTE_CONSUMER_KEY=
TH_EVERNOTE_CONSUMER_SECRET=

TH_GITHUB_USERNAME=
TH_GITHUB_PASSWORD=
TH_GITHUB_CONSUMER_KEY=
TH_GITHUB_CONSUMER_SECRET=

TH_JOPLIN_WEBCLIPPER=http://127.0.0.1:4881
TH_JOPLIN_TOKEN=ABCDEF

TH_PELICAN_AUTHOR=

TH_POCKET_CONSUMER_KEY=

TH_PUSHBULLET_CLIENT_ID=
TH_PUSHBULLET_CLIENT_SECRET=

TH_REDDIT_CLIENT_ID=
TH_REDDIT_CLIENT_SECRET=
TH_REDDIT_USER_AGENT=TriggerHappy:1.5.1 (by /u/foxmask2)

TH_TODOIST_CLIENT_ID=
TH_TODOIST_CLIENT_SECRET=

TH_TUMBLR_CONSUMER_KEY=
TH_TUMBLR_CONSUMER_SECRET=

TH_TRELLO_CONSUMER_KEY=
TH_TRELLO_CONSUMER_SECRET=

TH_TWITTER_CONSUMER_KEY=
TH_TWITTER_CONSUMER_SECRET=
