{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}{% trans "My Services" %} - {{ user.username }}{% endblock %}
{% block content %}
    <div class="col-md-12" id="trigger-content">
        <h3>{% trans 'Modification of your service' %} {{ object.name }}</h3>
        <form method="post" role="form" class="form-horizontal" action="">
        {% csrf_token %}
        <fieldset>
        <legend>{% trans 'Set the parameters of your service' %}</legend>
        {{ form.non_field_errors }}





            <div class="form-group">
                <label class="col-sm-2 control-label" for="id_token">{% trans 'User Token' %}</label>
                <div class="col-sm-6">{{ form.token }}</div>
                <div class="col-sm-offset-2 col-sm-8">Actually, this field is only mandatory for the Instapush service, otherwise the other services will go to the website of each service to get a new token it self</div>
                <div class="col-sm-offset-2 col-sm-8">{{ form.token.errors }}</div>
            </div>

            <div class="form-group">
            <div class="col-sm-offset-2 col-sm-6">if this is a self hosted service that required an authentication, then you should need to fill the
            5 following fields :</div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="id_username">{% trans 'Username' %}</label>
                <div class="col-sm-6">{{ form.username }}</div>
                <div class="col-sm-offset-2 col-sm-8">{{ form.username.errors }}</div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="id_password">{% trans 'Password' %}</label>
                <div class="col-sm-6">{{ form.password }}</div>
                <div class="col-sm-offset-2 col-sm-8">{{ form.password.errors }}</div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="id_client_id">{% trans 'Client ID' %}</label>
                <div class="col-sm-6">{{ form.client_id }}</div>
                <div class="col-sm-offset-2 col-sm-8">{{ form.client_id.errors }}</div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="id_client_secret">{% trans 'Client Secret' %}</label>
                <div class="col-sm-6">{{ form.client_secret }}</div>
                <div class="col-sm-offset-2 col-sm-8">{{ form.client_secret.errors }}</div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="id_host">{% trans 'Host' %}</label>
                <div class="col-sm-6">{{ form.host }}</div>
                <div class="col-sm-offset-2 col-sm-8">{{ form.host.errors }}</div>
            </div>
            <div class="form-actions">
                <div class="col-sm-offset-2 col-sm-10">
                    <button class="btn btn-primary">{% trans "Save it" %}</button>
                </div>
            </div>
        </fieldset>
        </form>
    </div>
{% endblock %}
