{% extends "base.html" %}
{% load static %}
{% load url from future %}
{% load i18n %}
{% load django_th_extras %}
{% block title %}{% trans "My Services" %} - {{ user.username }} - {{ current_site.name }}{% endblock %}
{% block content %}
    <div class="span12" id="trigger-content">
    	<div class="alert alert-success">
            {% trans sentance %}
        </div>
        <p><a href="{% url 'user_services' %}">{% trans 'Go back to your list of services' %}</a></p>
    </div> 
{% endblock %}
