{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <div class="col-xs-12 col-md-12">
        <form method="get" class="form-horizontal" action="">
        {{ form.non_field_errors }}
        <fieldset>
        <legend><span class="glyphicon glyphicon-search"></span> {% trans "Search in my triggers" %}</legend>
        {% csrf_token %}
            <div class="form-group{% if form.q.errors %} has-error{% endif %}">
                {% if form.q.errors %}
                <div class="col-sm-offset-1 col-sm-10 alert alert-danger" role="alert">{{ form.q.errors }}</div>
                {% endif %}
                <div class="input-group">
                    {{ form.q }}
                    <span class="input-group-btn"><button class="btn btn-primary">{% trans "Search" %}</button></span>
                </div>

            </div>
        </fieldset>
        </form>
    
        {% if query %}
            <h2>Results</h2>
            {% for result in object_list %}
                <p>
                    <a href="{{ result.object.get_absolute_url }}">{{ result.object.description }}</a>
                </p>
            {% empty %}
                <p>No results found.</p>
            {% endfor %}

            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li><a href="q={{ query }}&amp;page={{ page_obj.previous_page_number }}">{% trans "previous" %}</a></li>
                {% endif %}
                    <li class="active"><a >
                    {% blocktrans with page_number=page_obj.number total_of_pages=page_obj.paginator.num_pages %}
                    Page {{ page_number }} of {{ total_of_pages }}
                    {% endblocktrans %}</a>
                    </li>
                {% if page_obj.has_next %}
                    <li><a href="q={{ query }}&amp;page={{ page_obj.next_page_number }}">{% trans "next" %}</a></li>
                {% endif %}
            </ul>

        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
    </div>
{% endblock %}
