{% extends "base.html" %}
{% load static %}
{% load url from future %}
{% load i18n %}
{% load django_th_extras %}
{% block title %}{% trans "Activate another service" %} - {{ user.username }} - {{ current_site.name }}{% endblock %}
{% block content %}
    <div class="span12" id="trigger-content">
        <h3>{% trans 'Activate a service' %}</h3>
        <form method="post" class="form-horizontal" action="{% url 'activate_service' %}">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="control-group">
            <label class="control-label" for="id_name">{% trans 'Name' %}</label>
            <div class="controls">
            {{ form.name.errors }}
            {{ form.name }}
            </div>
        </div>
        <div class="form-actions">
            <input type="hidden" name="next" value="{{ next }}" />
            <input type="hidden" name="trigger_id" value="{{ trigger_id }}" />
            <button class="btn btn-primary">{% trans "Activate it" %}</button>
        </div>
        </form>
    </div> 
{% endblock %}
