{% extends "base.html" %}
{% load static %}
{% load url from future %}
{% load i18n %}
{% load django_th_extras %}
{% block title %}{% trans "My Services" %} - {{ user.username }} - {{ current_site.name }}{% endblock %}
{% block content %}
    <div class="span12" id="trigger-content">
{% if datas %}
    {% for service in datas %}
        <div class="row">
        <div class="trigger-record span11">
            <article>
                <div class="span5">
                    <a href="{% url 'edit_service' service.id %}"><span class="trigger-from">{{ service.provider|safe|escape }}</span> =>
                    <span class="trigger-to">{{ service.consummer|safe|escape }}</span></a>
                </div>
                <div class="span5">
                    <a href="{% url 'delete_service' service.id %}" title="{% trans "Delete this service ?" %}"><i class="icon-trash"></i></a><span class="trigger-text">{{ service.description|safe|escape }}</span>
                </div>
                <div class="span10">
                    <footer><i class="icon-calendar"></i> {{ service.date_created }}</footer>
                </div>
            </article>
            </div>
         </div>
    {% endfor %}
{% else %}
        <div class="row trigger-record">
            {% trans 'No trigger yet' %}
        </div>
{% endif %}
    </div>
{% endblock %}
