{% extends "base.html" %}
{% load static %}
{% load url from future %}
{% load i18n %}
{% load django_th_extras %}
{% block title %}{% trans "My Services" %} - {{ username }} - {{ current_site.name }}{% endblock %}
{% block content %}
    <div class="span12" id="trigger-content">
{% if data %}
    {% for service in datas %}
        <div class="row">
        <div class="trigger-record span11">
            <article>
            <div class="span2">
                <p class="trigger-record-user"><a href="{% url 'profiles_profile_detail' histo.user.username %}" title="{% trans 'View the profile'%}">{{ histo.user.username }}</a></p>
            </div>
            <div class="span6">
                <span class="trigger-text">{{ service.name|safe|escape }}</span>
            </div>
            <footer><i class="icon-calendar"></i> {{ service.date_created }}</footer>
            </article>
            </div>
         </div>
    {% endfor %}
{% else %}
        <div class="row trigger-record">
            {% trans 'No trigger yet' %}
        </div>
{% endif %}
    </div>
{% endblock %}
