{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load url from future %}
{% block title %}{{ user.username }} -  {% trans "Profile informations" %} - {{ current_site.name }}{% endblock %}
{% block content %}
<div class="span9" id="profile-content"> 
	<h1 class="page-header"> {{ profile.user.username }}{% trans "'s Profile" %}</h1>
	<h2 class="profile-head profile-identity-head">{% trans "Identity" %}</h2>
	<div class="profile-identity">
		<p>{% trans 'Username' %} <i class="icon-user"></i> : {{ profile.user.username }}</p>
		<p>{% trans "First Name" %} : {{ profile.user.first_name }}</p>
		<p>{% trans "Last Name" %} : {{ profile.user.last_name }}</p>
		<p> {% trans "Email" %} <i class="icon-envelope"></i> : {{ profile.user.email }}</p>
	</div>
	<h2 class="profile-head profile-stats-head">{% trans 'Statistics' %}</h2>
	<div class="profile-stats">
		<p> {% trans 'Last login' %} {{ profile.user.last_login }}</p>
		<p>{% trans 'Date joined' %}  {{ profile.user.date_joined }}</p>
	</div>
	{# display the relationship action #}
	{% if user.is_authenticated and profile.user.username == user.username %}
	<a class="btn btn-primary" href="{% url 'profiles_edit_profile' %}"><i class="icon-white icon-pencil"></i> {% trans 'Edit my account' %}</a>
	{% endif %}
</div>
{% endblock %} 
