{% extends "base.html" %}
{% load static %}
{% load url from future %}
{% load i18n %}
{% load django_th_extras %}
{% block title %}{% trans "My Triggers" %} - {{ user.username }} - {{ current_site.name }}{% endblock %}
{% block content %}
    <div class="span12" id="trigger-content">
        <h3>{% trans 'Edition of your trigger' %}</h3>
        <form method="post" class="form-horizontal" action="">
        {% csrf_token %}
        
        {{ form.non_field_errors }}

        {% for hidden in form.hidden_fields %}
        {{ hidden }}
        {% endfor %}
        <div class="control-group">
            <label class="control-label" for="id_description">{% trans 'Description' %}</label>
            <div class="controls">
            {{ form.description.errors }}
            {{ form.description }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="id_status">{% trans 'Trigger activated ?' %}</label>
            <div class="controls">
            {{ form.status.errors }}
            {{ form.status }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="id_url">{% trans 'URL' %}</label>
            <div class="controls">
            {{ form.url.errors }}
            {{ form.url }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="id_tag">{% trans 'Tag' %}</label>
            <div class="controls">
            {{ form.tag.errors }}
            {{ form.tag }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="id_description">{% trans 'Notebook' %}</label>
            <div class="controls">
            {{ form.notebook.errors }}
            {{ form.notebook }}
            </div>
        </div>        
        <div class="form-actions">
            <input type="hidden" name="next" value="{{ next }}" />
            <!--input type="hidden" name="trigger_id" value="{{ trigger_id }}" /-->
            <button class="btn btn-primary">{% trans "Save" %}</button>
        </div>
        </form>
    </div> 
{% endblock %}
