{% extends "base.html" %}
{% load static %}
{% load url from future %}
{% load i18n %}
{% load django_th_extras %}
{% block title %}{% trans "My Services" %} - {{ user.username }} - {{ current_site.name }}{% endblock %}
{% block content %}
    <div class="span12" id="trigger-content">
        <h3>{% trans 'Edition of your service' %}</h3>
        <form method="post" class="form-horizontal" action="">
        {% csrf_token %}
        {{ form.non_field_errors }}
            <div class="control-group">
                <label class="control-label" for="id_description">{% trans 'Service description' %}</label>
                <div class="controls">
                {{ form.description.errors }}
                {{ form.description }}
                </div>
            </div>
            <div class="form-actions">
                <input type="hidden" name="id" value="{{ id }}" />
                <button class="btn btn-primary">{% trans "Edit it" %}</button>
            </div>
        </form>
    </div> 
{% endblock %}
