{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}{% trans "My Services" %} - {{ user.username }}{% endblock %}
{% block content %}
    <div class="col-md-12" id="trigger-content">
        <h3><span class="glyphicon glyphicon-edit"></span> {% trans 'Edition of your service' %}</h3>
        <form method="post" class="form-horizontal" action="">
        {{ form.non_field_errors }}
        <fieldset>
        <legend>{% trans "Description" %}</legend>
        {% csrf_token %}
            <div class="form-group{% if form.description.errors %} has-error{% endif %}">
                {% if form.description.errors %}
                <div class="col-sm-offset-1 col-sm-10 alert alert-danger" role="alert">{{ form.description.errors }}</div>
                {% endif %}
                <label for="id_description" class="col-sm-2 control-label">{% trans "Description" %}</label>
                <div class="col-sm-6">{{ form.description }}</div>
            </div>

            <div class="form-group form-actions">
                <div class="col-sm-offset-2 col-sm-4">
                    <button class="btn btn-primary">{% trans "Save it" %}</button>
                </div>
            </div>
        </fieldset>
        </form>
    </div>
{% endblock %}
