{% load i18n %}
                    <p>
                        <span class="glyphicon glyphicon-calendar"></span>&nbsp;{% trans "Created" %}&nbsp;{{ trigger.date_created }}
                        &nbsp;-&nbsp;
                        <span class="glyphicon glyphicon-calendar"></span>&nbsp;{% trans "Triggered" %}&nbsp;{% if trigger.date_triggered %}{{ trigger.date_triggered }}{% else %}&nbsp;{% trans "Never triggered" %}{% endif %}
                    </p>
                    <p class="alert alert-warning">
                        <span class="glyphicon glyphicon-bullhorn"></span>{% trans "a process is alreay in progress" %}
                    </p>