<!DOCTYPE html>
<html lang="fr">
{% load static %}
{% load staticfiles %}
{% load i18n %}
{% load django_th_extras %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% trans "Home" %} - Trigger Happy{% endblock %}</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <!-- for trigger happy render -->
    <link rel="stylesheet" href="{% static 'css/th.css' %}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css" media="screen" />

    <meta name="author" content="FoxMaSk">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body role="document">
    {% block navbar %}
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'base' %}" title="{% trans 'Home' %}">Trigger Happy</a>
            </div>
            <div class="navbar-collapse collapse">
                {% if user.is_authenticated %}
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{% url 'base' %}" title="{% trans 'Home' %}"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;Home</a>
                    </li>
                    <li>
                        {% if nb_services > 1 %}
                            <a href="{% url 'create_service' %}" title="{% trans 'Create a new trigger' %}"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Add trigger</a>
                        {% else %}
                            <a href="#" title="{% trans 'You can not create a new trigger until 2 services are activated' %}"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Add trigger</a>
                        {% endif %}
                    </li>
                    <li>
                        <a href="{% url 'user_services' %}" title="{% trans 'List of your own activated services' %}"><span class="glyphicon glyphicon-tasks"></span>&nbsp;&nbsp;Activated services</a>
                    </li>
                    {% block filter_trigger %}
                        {% include "filter.html" with trigger_filter_by=trigger_filter_by %}
                    {% endblock %}
                    <li class="dropdown">
                        <a class="dropdown-toggle" title="{% trans 'Order by...' %}" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-sort-by-attributes"></span> <b class="caret"></b></a>
                        <ul class="dropdown dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            <li role="presentation"><a role="menuitem" title="{% trans 'Sort by ' %}" href="{% url 'trigger_order_by' 'provider' %}">{% trans "Service Provider" %}</a></li>
                            <li role="presentation"><a role="menuitem" title="{% trans 'Sort by ' %}" href="{% url 'trigger_order_by' 'consumer' %}">{% trans "Service Consumer" %}</a></li>
                        </ul>
                    </li>
                    {% block mark_all %}
                        {% include "mark_all.html" %}
                    {% endblock %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <!-- li>
                        <a href="{# url 'haystack_search' #}" title="{% trans 'Search' %}"><span class="glyphicon glyphicon-search"></span></a>
                    </li -->
                    <li>
                        <a href="{% url 'logout' %}" title="{% trans 'log out' %}"><span class="glyphicon glyphicon-off"></span></a>
                    </li>
                </ul>
                {% endif %}
            </div>
        </div>
    </nav>
    {% endblock navbar %}
    <div class="container">
        <div class="row">
        {% block content %}
            <div class="jumbotron">
                <p>
                    <strong>Trigger Happy</strong> is up !
                </p>
                <p>Have Fun</p>
                <a class="btn btn-primary" href="{% url 'login' %}">{% trans "Log in" %}</a>
            </div>
        {% endblock %}
        {% block sidebar %}
        {% endblock sidebar %}
        </div>
    </div><!--/.container-->
    <hr/>
    <footer class="footer">
        {% block footer %}
        <div class="container">
            <p>2013 - {% now "Y" %} <a href="http://trigger-happy.eu">Trigger Happy</a></p>
        </div>
        {% endblock footer %}
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    {% block extrajs %}{% endblock %}
</body>
</html>