{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load django_th_extras %}

{% block title %}{% if user.is_authenticated %}{% trans "My Triggers" %} - {{ user.username }} - {% else %}{% trans "Home" %} - {% endif %}Trigger Happy{% endblock %}

{% block content %}

{% if user.is_authenticated %}
        <div class="col-xs-12 col-md-12 col-lg-12">
            <span class="glyphicon glyphicon-flash"></span>{% trans "My Triggers" %}
        </div>
    {% if triggers_list %}
        {% if is_paginated %}
        <div class="col-xs-12 col-md-12 col-lg-12">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li><a href="{{ page_link }}?page={{ page_obj.previous_page_number }}">{% trans "previous" %}</a></li>
                {% endif %}
                    <li class="active"><a >
                    {% blocktrans with page_number=page_obj.number total_of_pages=page_obj.paginator.num_pages %}
                    Page {{ page_number }} of {{ total_of_pages }}
                    {% endblocktrans %}</a>
                    </li>
                {% if page_obj.has_next %}
                    <li><a href="{{ page_link }}?page={{ page_obj.next_page_number }}">{% trans "next" %}</a></li>
                {% endif %}
            </ul>
        </div>
        {% endif %}
        {% for trigger in triggers_list %}
        <div id="trigger-record-{{ trigger.id }}" class="trigger-record col-xs-12 col-md-12 col-lg-12 {{ trigger|trigger_disabled }}">
            <div class="col-xs-7 col-md-7 col-lg-7">
                <a class="btn btn-sm btn-md btn-lg btn-default" href="{% url 'edit_trigger' trigger.id %}" title="{% trans 'Edit the description' %} "> {{ trigger.description|safe|escape }}</a>
                <a class="btn btn-sm btn-md btn-lg btn-default" role="button" href="{% url 'edit_provider' trigger.id %}" title="{% trans 'Edit your service' %} {{ trigger.provider.name|service_readable|lower }}" >{{ trigger.provider.name|service_readable|lower }} <i class="fa fa-{{ trigger.provider.name|service_readable_class|lower }}" aria-hidden="true"></i></a>
                <a class="btn btn-sm btn-md btn-lg btn-default" role="button" href="{% url 'edit_consumer' trigger.id %}" title="{% trans 'Edit your service' %} {{ trigger.consumer.name|service_readable|lower }}" >{{ trigger.consumer.name|service_readable|lower }} <i class="fa fa-{{ trigger.consumer.name|service_readable_class|lower }}" aria-hidden="true"></i></a>
            </div>
            <div class="col-xs-5 col-md-5 col-lg-5">
                {% if trigger.status %}
                <a class="btn btn-sm btn-md btn-lg btn-primary" data="{{ trigger.id }}" role="button" href="#" title="{% trans 'Set this trigger off' %}"><span class="glyphicon glyphicon-off icon-white"></span></a>
                {% else %}
                <a class="btn btn-sm btn-md btn-lg btn-success" data="{{ trigger.id }}" role="button" href="#" title="{% trans 'Set this trigger on' %}"><span class="glyphicon glyphicon-off icon-white"></span></a>
                {% endif %}
                <a class="btn btn-sm btn-md btn-lg btn-danger" role="button" href="{% url 'delete_trigger' trigger.id %}" title="{% trans 'Delete this trigger ?' %}"><span class="glyphicon glyphicon-trash icon-white"></span></a><br/>
            </div>
            <footer>
                <div class="col-xs-12 col-md-12 col-lg-12">
                    <p>
                        <span class="glyphicon glyphicon-calendar"></span>&nbsp;{% trans "Created" %}&nbsp;{{ trigger.date_created }}
                        &nbsp;-&nbsp;
                        <span class="glyphicon glyphicon-calendar"></span>&nbsp;{% trans "Triggered" %}&nbsp;{% if trigger.date_triggered %}{{ trigger.date_triggered }}{% else %}&nbsp;{% trans "Never triggered" %}{% endif %}
                    </p>
                </div>
            </footer>
        </div>
        {% endfor %}
        {% if is_paginated %}
        <div class="col-xs-12 col-md-12 col-lg-12">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li><a href="{{ page_link }}?page={{ page_obj.previous_page_number }}">{% trans "previous" %}</a></li>
                {% endif %}
                    <li class="active"><a >
                    {% blocktrans with page_number=page_obj.number total_of_pages=page_obj.paginator.num_pages %}
                    Page {{ page_number }} of {{ total_of_pages }}
                    {% endblocktrans %}</a>
                    </li>
                {% if page_obj.has_next %}
                    <li><a href="{{ page_link }}?page={{ page_obj.next_page_number }}">{% trans "next" %}</a></li>
                {% endif %}
            </ul>
        </div>
        {% endif %}
        <div class="col-xs-12 col-md-12 col-md-offset-6 col-lg-12 col-lg-offset-6">
                <span class="badge">{{ nb_services }}</span> {%  trans "activated" %} {% trans "services" %} - <span class="badge">{{ nb_triggers.enabled }}</span> {%  trans "enabled" %} {% trans "triggers" %} - <span class="badge">{{ nb_triggers.disabled }}</span> {%  trans "disabled" %} {% trans "triggers" %}
        </div>
    {% else %}
        <div class="trigger-record col-md-12 col-lg-12">
            <div class="alert alert-info">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {% trans 'No trigger yet' %}
            </div>
            {% if nb_services < 2 %}
            <div class="alert alert-danger">{% trans "Before creating a trigger" %} <span class="label label-danger">{% trans "you have to activate" %}</span> <a href="{% url 'add_service' %}">{% trans "at least 2 services" %}</a>. </div>
            {% else %}
            <div class="alert alert-success">
            <p>{% trans "You can now proceed by creating" %}<a href="{% url 'create_service' %}"> {% trans "your first trigger" %}</a></p>
            </div>
            {% endif %}
        </div>
    {% endif %}
{% else %}
            <div class="jumbotron">
                <p>
                    <strong>Trigger Happy</strong> is up !
                </p>
                <p>Have Fun</p>
                <a class="btn btn-primary" href="{% url 'login' %}">{% trans "Log in" %}</a>
            </div>
{% endif %}
{% endblock %}
{% block extrajs %}
<script src="{% url 'js_reverse' %}" type="text/javascript"></script>
<script type="text/javascript">
//<![CDATA[
$(document).on("click","a.btn.btn-md.btn-primary, a.btn.btn-md.btn-success", function () {
    triggerId = $(this).attr('data')
    var request = $.ajax({
        url: Urls.trigger_on_off(triggerId),
        type: 'get',
        dataType: 'html',
        success: showResponse,
    });
    function showResponse(response) {
        $('#trigger-record-'+triggerId).html(response);
    }
});
//]]>
</script>
{% endblock %}
