{% load i18n %}
                    <li class="dropdown">
                        <a class="dropdown-toggle" title="{% trans 'Stop !' %}" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-stop"></span> <b class="caret"></b></a>
                        <ul class="dropdown dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            <li role="presentation"><a role="menuitem" href="{% url 'trigger_switch_all_to' 'off' %}" title="{% trans 'this action will set all the triggers off' %}"><span class="glyphicon glyphicon-pause"></span>&nbsp;&nbsp;{% trans "Disable all Triggers" %}</a>
                            <li role="presentation"><a role="menuitem" href="{% url 'trigger_switch_all_to' 'on' %}" title="{% trans 'this action will set all the triggers on' %}"><span class="glyphicon glyphicon-play"></span>&nbsp;&nbsp;{% trans 'Enable all Triggers' %}</a></li>
                        </ul>
                    </li>
